<div class="cards">
        <div class="card-single">
            <div>
                <h1>@TempData["User_Count"]</h1>
                <span>Customers</span>
            </div>
            <div>
                <span class="fa fa-users"></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>@TempData["Product_Count"]</h1>
                <span>Products</span>
            </div>
            <div>
                <span class="fa fa-product-hunt"></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>@TempData["Order_Count"]</h1>
                <span>Orders</span>
            </div>
            <div>
                <span class="fa fa-shopping-cart"></span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>Rs @TempData["Order_Total"]/-</h1>
                <span>Income</span>
            </div>
            <div>
                <span class="fa fa-wallet"></span>
            </div>
        </div>

    </div>
